/*   CSS page styling will go here!   */

                                                /*General Styles*/

* {
  padding: 2px;
}
/*
html, body {
  height: 100vh;
}
*/

body {
   padding-left: 10%;
   padding-right: 10%;
  background-image: url("dragon.png");
   background-size: cover;
   color: white;
   height: 100vh;
}



div, span, button {
  padding: 4px;
}

span, input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
}


#pageTitle {
  font-family: 'Skranji', cursive;
  color: grey;
  margin-left: -30px;
  margin-right: -40px;
}

#pointsDiv{
  width: 100%;
  font-family: 'Skranji', cursive;
  color: #393736;
}

#usernameForm {
  font-family: 'Skranji', cursive;
  color: #393736;
  width: 100%;
  padding-left: 15%;
}

#newName, #returnName {
  width: 200px;
  padding:8px;
  font-size:16px;
  border-radius:10px;
  border-color:#695352;
  color:#393736;
  background-color:#f3f2e7;
  border-style:outset;
  border-width:2px;
  font-style:none;
  font-family: 'Skranji', cursive;
}

#start {
  width: 100%;
}

#welcome {
  font-family: 'Skranji', cursive;
  font-size:75px;
  align-self: center;
}

.topDisplay {
  margin-left: 15px;
  margin-right: 15px;
}

#clock {
  margin-left: 50px;
}

                                                /*Widget Space Styles*/
#widgetSpace {
  min-height: 600px;
  width: 1000px;
  /* margin-left: 10%; */
}

#widgetContainer {
  width: 750px;
/*  background-color: red;*/
  /* background-color: rgba(120, 120, 120, .7); */
  border: solid $b rgba(#000, .2);
  border-radius: 40px;
/*  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.5) inset;*/
  background: rgb(71,67,68);
  background: radial-gradient(circle, rgba(71,67,68,0.802) 8%, rgba(140,178,226,0.1) 91%);
}

.widgetBtn {
  box-shadow: 6px 14px 14px -4px #423e3e;
	background:linear-gradient(to bottom, #423e3e 5%, #423e3e 100%);
	background-color:#423e3e;
	border-radius:8px;
	border:1px solid #423e3e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Skranji', cursive;
	font-size:15px;
/*	font-weight:bold;*/
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #423e3e;
}

.widgetBtn:active {
	position:relative;
	top:1px;
}


                                              /*Missing Letter Styles*/
#missingLetterDiv {
  width: 100%;
}

#missingLetterContainer{
  width: 50%;
  height: 60%;
}

#contentContainer {
  width: 100%;
}

#checkAnswerDiv{
  margin-top: 30px;
}

.letter {
  font-family: 'Skranji', cursive;
  font-size: 40px;
  padding: 20px;
}

#input {
  margin: 25px;
  padding:8px;
  font-size:40px;
  border-radius:10px;
  border-color:#695352;
  color:#393736;
  background-color:#f3f2e7;
  border-style:outset;
  border-width:2px;
  font-style:none;
  font-family: 'Skranji', cursive;
}

#imgDiv {
  height: 350px;
  width: 400px;
}

img {
  margin: 10%;
}

#checkAnswer {
  box-shadow: 6px 14px 14px -4px #423e3e;
	background:linear-gradient(to bottom, #dbb966 5%, #dbb966 100%);
	background-color:#dbb966;
	border-radius:8px;
	border:1px solid #dbb966;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Skranji', cursive;
	font-size:15px;
/*	font-weight:bold;*/
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #dbb966;
}




                                              /*Math Styles*/

#operatorDiv {
  display: inline-block;
}

#answer {
  padding:8px;
  font-size:16px;
  border-radius:10px;
  border-color:#695352;
  color:#393736;
  background-color:#f3f2e7;
  border-style:outset;
  border-width:2px;
  font-style:none;
  font-family: 'Skranji', cursive;
}

.numBtn {
  box-shadow: 6px 14px 14px -4px #423e3e;
	background:linear-gradient(to bottom, #dbb966 5%, #dbb966 100%);
	background-color:#dbb966;
	border-radius:8px;
	border:1px solid #dbb966;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Skranji', cursive;
	font-size:15px;
/*	font-weight:bold;*/
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #dbb966;
}

#go {
  margin-top: 5px;
  height: 40px;
}






/*Sight Words Styles, In Progress*/
#sightWordsDiv {
  font-family: 'Skranji', cursive;
  font-size: 100px;
  padding-top: 26%;
}


                                          /*Modal Styles*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
