/*   CSS page styling will go here!   */

* {
/*
  border: 1px solid red;
*/
}
.wordS {
  margin-left: 100px;
}



.letter {
  padding: 10px;
}

html, body {
  height: 100vh;
}

#contentContainer {
  width: 100%;
}


#imgDiv {
  height: 400px;
  width: 400px;


}

img {
  margin: 10%;
}

* {
/*
  border: 1px solid red;
*/
  padding: 2px;
}

#missingLetterContainer{
  width: 50%;
  height: 80%;
    box-shadow: inset 0px 0px 43px 10px rgba(0,0,0,0.75);
  background: #6db084;
}

#operatorDiv {
  display: inline-block;
}


p, input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-bottom: 1px solid green;
}
body {
   padding-top: 100px;
   padding-left: 10%;
   padding-right: 10%;
   background:
       radial-gradient(
         rgba(35,37,38, 0.45),
         rgba(65,67,68, 0.45)
     ), url("background-dragon.jpg") no-repeat center center;
   background-size: cover;
   color: white;
   height: 100vh;
   box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
}

#widgetSpace {
  min-height: 600px;
  width: 1000px;
  
}

#widgetContainer {
  width: 750px;
  background-color: red;
}

div, span, button {
  padding: 4px;
}

span, input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
}

#go {
  margin-top: 5px;
  height: 40px;
}


.modal-correct {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 60%;
}

.modal-correct.active{
  transform: translate(-50%, -50%) scale(1);
  color: black;
}

.modal-incorrect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 60%;
}

.modal-incorrect.active{
  transform: translate(-50%, -50%) scale(1);
  color: black;
}


#overlay {
  opacity: 1;
}

#overlay.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

#mathContainer {
  background-color: rgba(120, 120, 120, .7);
}


