/*   CSS page styling will go here!   */

* {
/*
  border: 1px solid red;
*/
}
#pageTitle {
  font-family: 'Skranji', cursive;
  color: grey;
  margin-left: -30px;
  margin-right: -40px;
}

#pointsDiv{
  width: 100%;
  font-family: 'Skranji', cursive;
  color: #393736;
}

#usernameForm {
  font-family: 'Skranji', cursive;
  color: #393736;
  width: 100%;
  padding-left: 15%;
}

#newName, #returnName {
  width: 200px;
  padding:8px;
  font-size:16px;
  border-radius:10px;
  border-color:#695352;
  color:#393736;
  background-color:#f3f2e7;
  border-style:outset;
  border-width:2px;
  font-style:none;
  font-family: 'Skranji', cursive;
}

#start {
  width: 100%;
}

#welcome {
  font-family: 'Skranji', cursive;
  font-size:75px;
  align-self: center;
}

.wordS {
  margin-left: 100px;
}

.letter {
  padding: 10px;
}

html, body {
  height: 100vh;
}

#contentContainer {
  width: 100%;
}


#imgDiv {
  height: 350px;
  width: 400px;
}

img {
  margin: 10%;
}

* {
  padding: 2px;
}

#missingLetterDiv {
  width: 100%;
}

#missingLetterContainer{
  width: 50%;
  height: 60%;
}

#checkAnswerDiv{
  margin-top: 30px;
}

#operatorDiv {
  display: inline-block;
}

#checkAnswer {
	box-shadow: 0px 10px 14px -7px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}



#input, #answer {
  padding:8px;
  font-size:16px;
  border-radius:10px;
  border-color:#695352;
  color:#393736;
  background-color:#f3f2e7;
  border-style:outset;
  border-width:2px;
  font-style:none;
  font-family: 'Skranji', cursive;
}

body {
   padding-left: 10%;
   padding-right: 10%;
  background-image: url("dragon.png");
/*
   background:
       radial-gradient(
         rgba(35,37,38, 0.05),
         rgba(65,67,68, 0.05)
     ), url("dragon.png") no-repeat center center;
*/
   background-size: cover;
   color: white;
   height: 100vh;
   /* box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1); */
}

#widgetSpace {
  min-height: 600px;
  width: 1000px;
  /* margin-left: 10%; */
}

#widgetContainer {
  width: 750px;
/*  background-color: red;*/
  /* background-color: rgba(120, 120, 120, .7); */
  border-radius: 25px;
  box-shadow: 25px 25px 50px rgba(0, 0, 0, 0.5) inset;
  background: rgb(0,0,4);
  background: radial-gradient(circle, rgba(0,0,4,1) 32%, rgba(77,167,227,0.9542191876750701) 68%, rgba(144,203,246,0.6573004201680672) 100%);
}

div, span, button {
  padding: 4px;
}

span, input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
}

#go {
  margin-top: 5px;
  height: 40px;
}

#sightWordsDiv {
  font-family: 'Skranji', cursive;
  font-size: 100px;
  padding-top: 26%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
