/*   CSS page styling will go here!   */

* {
/*
  border: 1px solid red;
*/
}
#pageTitle {
  font-family: 'Oswald', sans-serif;
  color: grey;
}

#usernameForm {
    width: 100%;
    padding-left: 15%;
}
#start {
  width: 100%;
}

.wordS {
  margin-left: 100px;
}



.letter {
  padding: 10px;
}

html, body {
  height: 100vh;
}

#contentContainer {
  width: 100%;
}


#imgDiv {
  height: 350px;
  width: 400px;


}

img {
  margin: 10%;
}

* {
/*
  border: 1px solid red;
*/
  padding: 2px;
}

#missingLetterDiv {
  width: 100%;
}

#missingLetterContainer{
  width: 50%;
  height: 60%;
}

#checkAnswerDiv{
  margin-top: 30px;
}

#operatorDiv {
  display: inline-block;
}

#checkAnswer{

}

#checkAnswer {
	box-shadow: 0px 10px 14px -7px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
}
.myButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}


input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
  margin: 10px;
  border-bottom: 1px solid black;
}

body {
   padding-left: 10%;
   padding-right: 10%;
   /* background-image: url("dragon.png"); */
   background:
       radial-gradient(
         rgba(35,37,38, 0.25),
         rgba(65,67,68, 0.25)
     ), url("dragon.png") no-repeat center center;
   background-size: cover;
   color: white;
   height: 100vh;
   /* box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1); */
}

#widgetSpace {
  min-height: 600px;
  width: 1000px;
  /* margin-left: 10%; */
}

#widgetContainer {
  width: 750px;
/*
  background-color: red;
*/
}

div, span, button {
  padding: 4px;
}

span, input {
  text-align: center;
  font-size: 25px;
  height: 50px;
  width: 50px;
}

#go {
  margin-top: 5px;
  height: 40px;
}


.modal-correct {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 60%;
}

.modal-correct.active{
  transform: translate(-50%, -50%) scale(1);
  color: black;
}

.modal-incorrect {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)scale(0);
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 60%;
}

.modal-incorrect.active{
  transform: translate(-50%, -50%) scale(1);
  color: black;
}


#overlay {
  opacity: 1;
}

#overlay.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
}

#mathContainer, #missingLetterDiv {
  background-color: rgba(120, 120, 120, .7);
}
